body{background-image: url("http://sd4510.com.tw/tmp/files/gallery/final/172_x.jpg?v=1440152467");
background-size : 100% auto;
 } 
 #maintitle {
    position:absolute;
    top: 300px;
    left: 610px;
}
  #maintitle h1 {
    color: white;
    font-size: 60px;
    font-family: monospace;
    background: transparent;
    text-align: center;
}
.ncku girls h2 {
    color: white;
    padding-left:45px;
    margin-top: 25px;
}

