body{background-image: url("http://www.kphoto.com.tw/image/catalog/Product/ASS/44_jet.gif");
background-size : 100% auto;
 }
.abc {
width: 1000px;
 height: 1000px;
 
 
}
.pic {
 position:absolute;
    top: 150px;
    left: 400px;
border:1px solid black;
    cursor:url(wii.ani);
} 

#maintitle {
    position:absolute;
    top: 180px;
    left: 300px;
}
  #maintitle h1 {
    color: orangered;
    font-size: 60px;
    font-family: monospace;
    background: transparent;
    text-align: center;
}
.ncku h2 {
    color: orangered;
    padding-left:45px;
    margin-top: 25px;
}
#aaa {
   
        position:absolute;
    top: 10px;
    left: 1450px;
}
#aaa a {
    color: white;
}
#aaa a:hover{
    background-color: red;
}
#bbb {
    
    position:absolute;
    top: 10px;
    left: 1350px;
}
#bbb a {
    color: white;
}

#ccc {
    
      position:absolute;
    top: 10px;
    left: 1250px;
}
#ccc a {
    color: white;
}
#ccc a:hover{
    background-color: red;
}
.page h3 {
    
      position:absolute;
    top: 130px;
    left: 400px;
}
.page h3 {
    color: whitesmoke;
}
.plat h3 {

      position:absolute;
    top: 600px;
    left: 705px;
}
.plat h3 {
    color: white
}
.end h3 {

      position:absolute;
    top: 600px;
    left: 1100px;
}
.end h3{
    color:grey
}



